-semantic_form_for [current_user, current_user.profile] do |f|
  = f.error_messages

  - f.inputs do
    = f.input :bedrooms
    = f.input :rent
    = f.input :neighborhoods

  -f.buttons do
    = f.commit_button "Save Profile"
