%div[apartment]
  %ul
    %li.photo
      .image
        -if apartment.images.present?
          =image_tag(apartment.images.first.asset.url(:medium))
        -else
          &nbsp;
      .count=position
    %li.info
      %ul
        %li.street=link_to apartment.street, apartment
        %li.basic
          %span.rent==$#{number_with_delimiter(apartment.rent)}
          ==/ #{apartment.bedrooms.prettify}bd/#{apartment.bathrooms.prettify}ba / #{apartment.square_footage} sq. ft.
        %li.neighborhood==Neighborhood: #{neighborhood_links(apartment)}
        %li.listed_on==Listed on #{apartment.listed_on.try(:to_date).try(:to_s, :app_long)}

    %li.contact
      %ul
        %li.phone=apartment.user.phone
        %li.message=link_to "send message", "#"
        %li.favorite=render "favorites/link", :apartment => apartment, :count => position

