.head
  %h1==Hi, #{current_user.first_name}

  .lady
    %span=="Wow #{current_user.first_name}, that's a fabulous shirt you're wearing"

  =render "dashboard/tabs", :active => :listings

.article
  -if apartments.present?
    =pagination_summary(params[:page], current_user.apartments)
    =will_paginate(apartments, :renderer => AjaxPaginationLinkRenderer)
    -apartments.each do |apartment|
      -position = position_in_collection(apartment, current_user.apartments)
      .listing[apartment]
        %ul
          %li.photo
            .image
              -if apartment.images.present?
                =link_to(image_tag(apartment.images.first.asset.url(:medium)), apartment)
              -else
                &nbsp;
            .count=position
          %li.info
            %ul
              -if apartment.address
                %li.street=link_to apartment.street, apartment
              %li.basic
                %span.rent==$#{number_with_delimiter(apartment.rent)}
                ==/ #{apartment.bedrooms.try(:prettify)}bd/#{apartment.bathrooms.try(:prettify)}ba / #{apartment.square_footage} sq. ft.
              -if apartment.address
                %li.neighborhood==Neighborhood: #{neighborhood_links(apartment.neighborhoods)}
              %li.listed_on==Listed on #{apartment.listed_on.try(:to_date).try(:to_s, :app_long)}

          %li.status
            %p Current Status of Listing:
            =render "apartments/state_buttons", :apartment => apartment

            %ul.buttons
              %li.edit=link_to "Edit", edit_apartment_path(apartment)
              %li.delete=link_to "Delete", apartment_path(apartment), :method => :delete, :confirm => "Are you sure?"

        %p.summary
          ==Number of Views: <span>#{apartment.views_count}</span>
          ==Number of Favorites: <span>#{apartment.favorites_count}</span>

  -else
    %p.empty
      ==You haven't listed any apartments.  #{link_to("List one", apartments_path, :method => :post)}.