.head
  %h1==Hi, #{current_user.first_name}

  .lady
    %span=="Wow #{current_user.first_name}, people really seem to love talking to you!"

  =render "dashboard/tabs", :active => :messages

.pagination
  %ul
    %li.counts= pagination_summary(params[:page], Message.for_user(current_user).root)
    %li.navigation= will_paginate((@messages), :renderer => AjaxPaginationLinkRenderer)

.messages
  - @messages.each do |message|
    %div[message]
      %ul.root
        %li.status.new &nbsp;
        %li.info
          %ul
            %li.sender= message.sender.full_name
            %li.details
              = truncate(message.body)
              |
              = message.created_at

        %li.delete= image_tag "icons/delete_message.png"
        %li.photo
          -if message.apartment.images.present?
            =image_tag(message.apartment.images.first.asset.url(:micro))
          -else
            &nbsp;
        %li.name= message.apartment.address.street
    %div.replies
      %ul
        %li
          %span.bold= message.created_at
          %span.light &#124;
          %span.bold
            From:
            = message.sender.full_name
          %p
            = message.body
        %li.reply
          %span.bold Reply
          %form
            = text_area_tag :foo
          %a.close{:href => "#"} close
