.head
  %h1==Hi, #{current_user.first_name}

  .lady
    %span=="Wow #{current_user.first_name}, that's a fabulous shirt you're wearing"

  %ul.tabs
    %li.active=link_to "Matches", "#"
    %li=link_to "Favorites", "#"
    %li=link_to "Inbox", "#"

.article
  -@matches.each_with_index do |match, index|
    %div[match]
      %ul
        %li.photo
          .image
            -if match.images.present?
              =image_tag(match.images.first.asset.url(:medium))
            -else
              &nbsp;
          .count==#{index + 1}
        %li.info
          %ul
            %li.street=link_to match.street, match
            %li.basic
              %span.rent==$#{number_with_delimiter(match.rent)}
              ==/ #{match.bedrooms.prettify}bd/#{match.bathrooms.prettify}ba / #{match.square_footage} sq. ft.
            %li.neighborhood==Neighborhood: #{neighborhood_links(match)}
            %li.listed_on==Listed on #{match.listed_on.to_date.to_s(:app_long)}

        %li.contact
          %ul
            %li.phone 800-309-2860
            %li.message=link_to "send message", "#"
            %li.favorite=render "favorites/link", :apartment => match, :count => index

.aside
  %h3 Messages

  #activity_feed
    %h3 Activity Feed
    %ul
      -@events.each do |event|
        %li{ :class => "#{event.subject_type.downcase} #{event.event_type}" }
          %span.text=event_text(event)
          %span.date==#{time_ago_in_words(event.created_at)} ago
  =image_tag "backgrounds/shadow.png", :class => "shadow"
