%div.head
  %h1 Cozily

=render "shared/mailer_salutation", :user => @user

-if @latest_matches.present?
  %p==You have <span class='highlight'>#{pluralize(@latest_matches.count, "match")} published</span> on #{link_to("Cozily", root_url)} since last week.  Check them out.
  %table
    -@latest_matches.each do |apt|
      %tr
        %td.image
          - if apt.images.present?
            = link_to(image_tag(apt.images.first.asset.url(:thumb)), apartment_url(apt))
          - else
            = link_to(image_tag("defaults/apartment/thumb.jpg"), apartment_url(apt))
        %td
          .street= link_to(apt.street, apartment_url(apt))
          .info
            ==$#{number_with_delimiter(apt.rent)}
            ==/ #{apt.bedrooms.prettify}bd/#{apt.bathrooms.prettify}ba
            - if apt.square_footage
              ==/ #{apt.square_footage} sq. ft.
          .neighborhoods== Neighborhood: #{neighborhood_links(apt.neighborhoods)}
          .published_on
            ==Published on #{apt.published_at.try(:to_date).try(:to_s, :app_long)}
            -if apt.sublet?
              %span (sublet)

- else
  %p==You didn't have any matches published on #{link_to("Cozily", root_url)} this week.  But we're still growing!

%p
  ==Based on your profile, Cozily is currently #{profile_summary(@user.profile)}.  To update your profile or opt out of email notifications, follow the link below:<br />
  =url_for({:controller => 'users/profiles', :action => 'edit', :user_id => @user.id, :host => "cozi.ly"})
=render "shared/mailer_signature"
