=render "shared/mailer_salutation", :user => @user

-if @user.matches.present?
  %p==You currently have #{pluralize(@user.matches.count, "match")} on #{link_to("Cozily", root_url)}.  Check them out.
  %table
    -@user.matches.each do |apt|
      %tr
        %td.image=link_to(image_tag(apt.images.first.asset.url(:thumb)), apartment_url(apt))
        %td=link_to(apt.name, apartment_url(apt))
        %td==#{apt.bedrooms.try(:prettify)}bd/#{apt.bathrooms.try(:prettify)}ba
        %td==$#{number_with_delimiter(apt.rent)}
        %td=apt.neighborhoods.map { |n| link_to(n.name, neighborhood_url(n)) }.to_sentence
-else
  %p==You don't currently have any matches on #{link_to("Cozily", root_url)}, but we're working on it!

%p
  ==Based on your profile, Cozily is currently #{profile_summary(@user.profile)}.  To update your profile or opt out of email notifications, follow the link below:<br />
  =url_for({:controller => 'users/profiles', :action => 'edit', :user_id => @user.id, :host => "cozi.ly"})
=render "shared/mailer_signature"