%div.head
  %h1 Cozily

=render "shared/mailer_salutation", :user => @user

-apts = @user.apartments.with_state(:published)
-if apts.present?
  %p==You currently have <span class='highlight'>#{apts.count} published #{pluralize(apts.count, "apartment").split(" ").last}</span> on #{link_to("Cozily", root_url)}.  Check them out.
  %table
    -apts.each do |apt|
      %tr
        %td.image
          - if apt.photos.present?
            = link_to(image_tag(apt.photos.first.image.url(:thumb)), apartment_url(apt))
          - else
            = link_to(image_tag("defaults/apartment/thumb.jpg"), apartment_url(apt))
        %td
          .street= link_to(apt.street, apartment_url(apt))
          .info
            ==$#{number_with_delimiter(apt.rent)}
            ==/ #{apt.bedrooms.prettify}bd/#{apt.bathrooms.prettify}ba
            - if apt.square_footage
              ==/ #{apt.square_footage} sq. ft.
          .neighborhoods== Neighborhood: #{neighborhood_links(apt.neighborhoods)}
          .published_on
            ==Published on #{apt.published_at.try(:to_date).try(:to_s, :app_long)}
            -if apt.sublet?
              %span (sublet)
        %td=pluralize(apt.views_count, "view")

-apts = @user.apartments.with_state(:unpublished)
-if apts.present?
  %p==You currently have <span class='highlight'>#{apts.count} unpublished #{pluralize(apts.count, "apartment").split(" ").last}</span> on #{link_to("Cozily", root_url)}.  Note that unpublished apartments are not visible to other users.  Make sure you publish your listings in order to rent your apartment!
  %table
    -apts.each do |apt|
      %tr
        %td.image
          -if apt.photos.present?
            =link_to(image_tag(apt.photos.first.image.url(:thumb)), apartment_url(apt))
          -else
            =link_to(image_tag("defaults/apartment/thumb.jpg"), apartment_url(apt))
        %td
          .street= link_to(apt.building.present? ? apt.street : name_for_apartment(apt), apartment_url(apt))
          .info
            ==$#{number_with_delimiter(apt.rent)}
            ==/ #{apt.bedrooms.try(:prettify)}bd/#{apt.bathrooms.try(:prettify)}ba
            - if apt.square_footage
              ==/ #{apt.square_footage} sq. ft.

          -if apt.building
            .neighborhoods== Neighborhood: #{neighborhood_links(apt.neighborhoods)}
          .published_on
            =last_state_change(apt)
            -if apt.sublet?
              %span (sublet)
        %td=pluralize(apt.views_count, "view")

-if @user.apartments.empty?
  %p==You've yet to create any apartments on #{link_to("Cozily", root_url)}.  Give it a try!

%p
  In addition, make sure you click the "Like" and "Tweet" buttons on your apartment pages to broadcast your listings on Facebook and Twitter!  Please let us know if you have any questions or feedback!

%p
  ==Based on your profile, Cozily is currently sending weekly summaries of your listings.  To update your profile or opt out of email summaries, follow the link below:<br />
  =url_for({:controller => 'users/profiles', :action => 'edit', :user_id => @user.id, :host => "cozi.ly"})
=render "shared/mailer_signature"
