=render "shared/mailer_salutation", :user => @user

-apts = @user.apartments.with_state(:published)
-if apts.present?
  %p==You currently have #{apts.count} published #{pluralize(apts.count, "apartment").split(" ").last} on #{link_to("Cozily", root_url)}.  Check them out.
  %table
    -apts.each do |apt|
      %tr
        %td=link_to(image_tag(apt.images.first.asset.url(:thumb)), apartment_url(apt))
        %td=link_to(apt.name, apartment_url(apt))
        %td==#{apt.bedrooms.try(:prettify)}bd/#{apt.bathrooms.try(:prettify)}ba
        %td==$#{number_with_delimiter(apt.rent)}
        %td=pluralize(apt.views_count, "view")

-apts = @user.apartments.with_state(:unpublished)
-if apts.present?
  %p==You currently have #{apts.count} unpublished #{pluralize(apts.count, "apartment").split(" ").last} on #{link_to("Cozily", root_url)}.  Check them out.  Note that unpublished apartments are not visible to other users.  Make sure you publish your listings in order to rent your apartment!
  %table
    -apts.each do |apt|
      %tr
        %td
          -if apt.images.present?
            =link_to(image_tag(apt.images.first.asset.url(:thumb)), apartment_url(apt))
          -else
            =link_to(image_tag("defaults/apartment/thumb.jpg"), apartment_url(apt))
        %td==#{link_to(apt.name, apartment_url(apt))}
        %td==#{apt.bedrooms.try(:prettify)}bd/#{apt.bathrooms.try(:prettify)}ba
        %td==$#{number_with_delimiter(apt.rent)}

-if @user.apartments.empty?
  %p==You've yet to create any apartments on #{link_to("Cozily", root_url)}.  Give it a try!

%p
  ==Based on your profile, Cozily is currently sending weekly summaries of your listings.  To update your profile or opt out of email summaries, follow the link below:<br />
  =url_for({:controller => 'users/profiles', :action => 'edit', :user_id => @user.id, :host => "cozi.ly"})
=render "shared/mailer_signature"