- content_for :page_title do
  Cozily | About

.page
  :markdown
    # About Us

    ## What are we doing?

    Cozily is a free site for both renters and landlords. It is for no fee apartments only, which means no
    brokers will try to woo you. You can search for apartments from a map view, so that you can see everything
    we've got that meets your criteria without paging through lots of listings. We'll also send you email
    updates with new apartments that meet your criteria.

    Quit checking Craigslist every five minutes. Tell us what you're looking for. We'll find it for you.

    ## Where are we headed?

    Aside from getting more listings directly from landlords, so that you’ve got the cleanest and most
    reliable source for listings, we’re working on creating more tailored ways of searching, so that you can
    find apartments that are right for you. We’ll help you get to know the neighborhood and the area around a
    prospective apartment before moving in. Sign up for our email updates so that you know what’s new!

    We want to find the right place for you. We want to help introduce you to your community. We want you to
    have fun and feel taken care of.

    **We'll help you find your home.**

  #bios
    %h1 Our Founders

    .bio
      %div.photo
        = image_tag("photos/todd250.jpg", :class => "photo")
        %h2 Todd Persen
        = link_to(image_tag("icons/twitter_small.png"), "http://twitter.com/toddpersen", :target => "blank")
        = link_to(image_tag("icons/linkedin_small.png"), "http://linkedin.com/pub/todd-persen/4/146/47a", :target => "blank")
        %h3 CEO
      %div.profile
        :markdown
          Todd holds both a MS in Electrical Engineering from the University of Central Florida and an MBA from the University
          of Florida. Unfortunately, he can't decide which one he likes better.

          After spending several years designing and building infrared cameras, he moved to New York City and became involved
          in the technology scene, working with a number of small startups before ending up at Pivotal Labs. There, he anchored
          a large agile team, dabbled in engineering management, and ran around with no shoes on.

          If he's not out biking around somewhere, he's trying to figure out how to translate Cozily's long term goals into
          actions and hopefully helping to bring New York City's apartment rental market into the 21st century.

    .bio
      %div.photo
        = image_tag("photos/genna250.jpg", :class => "photo")
        %h2 Genna Douglass
        = link_to(image_tag("icons/linkedin_small.png"), "http://linkedin.com/in/gennadouglass", :target => "blank")
        %h3 Chief Strategist
      %div.profile
        :markdown
          Genna made her voyage to New York City from Florida, but not before picking up a love of the ocean and
          a degree in Music Composition. Never one to pass up interesting graduate degrees, she completed a
          Master's degree at NYU, specializing in Music Composition for Film.

          After a brief stint in Los Angeles, where she started a music house with a handful of talented
          composers, she came back to New York and dug into another Master's degree. This time, at the University
          of Pennsylvania, she focused on Positive Psychology and Organizational Behavior.

          We've managed to tackle her between relentless bouts of education, benefiting from her more recent
          experience in product management and consulting with agile development teams. She's currently got her
          telescope on Cozily's long-term vision, working to help us build an application that finally makes
          finding an apartment fun.

          Oh, and she also teaches yoga.

    .bio
      %div.photo
        = image_tag("photos/michael250.jpg", :class => "photo")
        %h2 Michael Haddad
        = link_to(image_tag("icons/twitter_small.png"), "http://twitter.com/mrhaddad", :target => "blank")
        = link_to(image_tag("icons/linkedin_small.png"), "http://linkedin.com/in/michaelhaddad", :target => "blank")
        %h3 Lead Developer

      %div.profile
        %p
          ==Joining the 2004 #{link_to("Teach For America", "http://teachforamerica.org", :target => "blank")} corps in Washington, DC,
          Michael began his career teaching secondary math at the
          #{link_to("C&eacute;sar Ch&aacute;vez Public Charter High School for Public Policy".html_safe, "http://chavezschools.org/", :target => "blank")}.
          After moving to New York City in 2007, he transitioned into #{link_to("computer programming", "http://ludditetechnology.com", :target => "blank")}
          and currently works as a software engineer at #{link_to("Pivotal Labs", "http://pivotallabs.com", :target => "blank")}.  Outside of work, Michael enjoys #{link_to("piano", "http://bootynonstop.com", :target => "blank")}
          and running.

