- content_for :page_title do
  Cozily | About

.page
  :markdown
    # About

    Born of frustration with the New York City rental market, Cozily exists to restore
    sanity to the apartment hunting process.  It's a free tool tailored to this city's
    unique needs and your busy schedule.

    Quit checking Craigslist every five minutes.  Tell us what you're looking for.  We'll
    find it for you.

  #bios
    .bio
      %h2 Todd Persen
      =link_to(image_tag("icons/twitter_small.png"), "http://twitter.com/toddpersen", :target => "blank")
      =link_to(image_tag("icons/linkedin_small.png"), "http://linkedin.com/pub/todd-persen/4/146/47a", :target => "blank")
      %h3 Founder

      %p
        =image_tag("todd.jpg")
        Todd is weird.

    .bio
      %h2 Michael Haddad
      =link_to(image_tag("icons/twitter_small.png"), "http://twitter.com/mrhaddad", :target => "blank")
      =link_to(image_tag("icons/linkedin_small.png"), "http://linkedin.com/in/michaelhaddad", :target => "blank")
      %h3 Founder

      %p
        =image_tag("mike.jpg")
        ==Joining the 2004 #{link_to("Teach For America", "http://teachforamerica.org", :target => "blank")} corps in Washington, DC,
        Michael began his career teaching secondary math at the
        #{link_to("C&eacute;sar Ch&aacute;vez Public Charter High School for Public Policy".html_safe, "http://chavezschools.org/", :target => "blank")}.
        After moving to New York City in 2007, he transitioned into #{link_to("computer programming", "http://ludditetechnology.com", :target => "blank")}
        and currently works as a software engineer at #{link_to("Pivotal Labs", "http://pivotallabs.com", :target => "blank")}.  Outside of work, Michael enjoys #{link_to("piano", "http://bootynonstop.com", :target => "blank")}
        and running.

