%div{:'data-content-key' => "state_buttons_#{apartment.id}"}
  = form_tag transition_apartment_path(apartment), :class => 'formtastic' do
    %fieldset.inputs
      %ol
        %li{:class => "#{'active' if apartment.unpublished?}"}
          %label{:for => "event_unpublish_#{apartment.id}"}
            =radio_button_tag("event", "unpublish", apartment.unpublished?, :id => "event_unpublish_#{apartment.id}", :disabled => !apartment.can_unpublish? && !apartment.unpublished?)
            Unpublished
        %li{:class => "#{'active' if apartment.published?}"}
          %label{:for => "event_publish_#{apartment.id}"}
            =radio_button_tag("event", "publish", apartment.published?, :id => "event_publish_#{apartment.id}", :disabled => !apartment.can_publish? && !apartment.published?)
            Published
        %li{:class => "#{'active' if apartment.leased?}"}
          %label{:for => "event_lease_#{apartment.id}"}
            =radio_button_tag("event", "lease", apartment.leased?, :id => "event_lease_#{apartment.id}", :disabled => !apartment.can_lease? && !apartment.leased?)
            Leased
