-content_for :page_title do
  -if @apartment.name.present?
    ==Cozily | #{@apartment.name}
  -else
    ==Cozily | Apartment ##{@apartment.id}

:javascript
  var self = #{@apartment.as_json(:methods => :to_param, :include => :building).to_json};
  var apartments = #{@apartment.comparable_apartments.as_json(:methods => :to_param, :include => :building).to_json};

=render "apartments/owner", :apartment => @apartment, :type => :edit

.article
  %h2
    About the Apartment
    %span==(#{@apartment.state_name})

  =render "apartments/form", :apartment => @apartment

.aside
  %h2 Nearby Apartments

  #map_canvas

  =render "apartments/missing_information", :apartment => @apartment
