-if @apartment.listed? || (signed_in? && current_user.apartments.include?(@apartment))
  :javascript
    var self = #{@apartment.as_json(:methods => :to_param, :include => :address).to_json};
    var apartments = #{(Apartment.with_state(:listed) - [@apartment]).as_json(:methods => :to_param, :include => :address).to_json};

  .article
    .head
      .name
        %h1=@apartment.address.street
        %h2==#{@apartment.address.city}, #{@apartment.address.state} #{@apartment.address.zip}

    .content
      -if @apartment.images.present?
        =image_tag @apartment.images.first.asset.url(:large), :class => "active"
      -else
        %img{:src => 'http://www.google.com', :class => "active"}

      .info
        .demographic
          .rooms
            ==#{@apartment.bedrooms.prettify}bd/#{@apartment.bathrooms.prettify}ba
          .rent
            ==$#{number_with_delimiter(@apartment.rent.prettify)}

          %ul
            %li==#{@apartment.square_footage.prettify} sq. ft.
            %li
              -if @apartment.address && @apartment.neighborhoods
                ==Neighborhood: #{neighborhood_links(@apartment)}
              -else
                Neighborhood: Unknown
            %li==Available starting #{@apartment.start_date}

        -if @apartment.features.present?
          .highlights
            %h4 Apartment Highlights
            %ul
              -@apartment.features.each do |feature|
                %li=feature.name

      .images
        %ul
          -@apartment.images.each do |image|
            %li=image_tag(image.asset.url(:thumb), :'data-large-image-path' => image.asset.url(:large))

      .contact
        %h3 Contact
        -if @apartment.contact
          %span.name=@apartment.contact.name
          -if @apartment.contact.email.present?
            %span.email=@apartment.contact.email
          -if @apartment.contact.phone.present?
            %span.phone=@apartment.contact.phone

        -if can? :manage, Message
          =render "messages/thread", :messages => @apartment.messages.for_user(current_user)

  .aside
    %ul.actions
      %li.flag=render "flags/link", :apartment => @apartment
      %li.favorite=render "favorites/link", :apartment => @apartment

    #map_canvas
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    #nearby_stations
      %h3 Nearby Stations
      %table
        -@apartment.nearby_stations.each do |station|
          %tr
            %td
              = station.name
              = trains_for(station)
            %td==#{number_with_precision(station.distance, :precision => 2)}mi
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    -if @apartment.address
      .business_search{:'data-lat' => @apartment.lat, :'data-lng' => @apartment.lng}

-else
  %p This apartment is unlisted.

