-if @apartment.listed? || (signed_in? && current_user.apartments.include?(@apartment))
  :javascript
    var self = #{@apartment.as_json(:methods => :to_param, :include => :address).to_json};
    var apartments = #{(Apartment.with_state(:listed) - [@apartment]).as_json(:methods => :to_param, :include => :address).to_json};

  -if signed_in? && current_user.apartments.include?(@apartment)
    =render "apartments/owner", :apartment => @apartment, :type => :show

  .article
    .head
      .name
        -if @apartment.address
          %h1=@apartment.address.street
          %h2==#{@apartment.address.city}, #{@apartment.address.state} #{@apartment.address.zip}
        -else
          %h1 Unknown Address

    .content
      -if @apartment.images.present?
        =image_tag @apartment.images.first.asset.url(:large), :class => "active"
      -else
        %img{:src => 'http://www.google.com', :class => "active"}

      .info
        .demographic
          .rooms
            ==#{@apartment.bedrooms.try(:prettify)}bd/#{@apartment.bathrooms.try(:prettify)}ba
          .rent
            ==$#{number_with_delimiter(@apartment.rent)}

          %ul
            %li==#{@apartment.square_footage} sq. ft.
            %li
              -if @apartment.address && @apartment.neighborhoods
                ==Neighborhood: #{neighborhood_links(@apartment)}
              -else
                Neighborhood: Unknown
            %li=availability(@apartment)

        -if @apartment.features.present?
          .highlights
            %h4 Apartment Highlights
            %ul
              -@apartment.features.each do |feature|
                %li=feature.name

      .images
        %ul
          -@apartment.images.each do |image|
            %li=image_tag(image.asset.url(:thumb), :'data-large-image-path' => image.asset.url(:large))

      .contact
        %h3 Contact
        %span.name=@apartment.user.full_name
        %span.email=@apartment.user.email
        -if false
          %span.phone=@apartment.user.phone

        -if can? :manage, Message
          =render "messages/thread", :messages => @apartment.messages.for_user(current_user)

  .aside
    %ul.actions
      %li.flag=render "flags/link", :apartment => @apartment
      %li.favorite=render "favorites/link", :apartment => @apartment

    #map_canvas
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    #nearby_stations
      %h3 Nearby Stations
      %table
        -@apartment.nearby_stations.each do |station|
          %tr
            %td
              .name= station.name
              - station.trains.each do |train|
                = image_tag "mta/#{train.name}.gif"
            %td==#{number_with_precision(station.distance, :precision => 2)}mi
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    -if @apartment.address
      .business_search{:'data-lat' => @apartment.lat, :'data-lng' => @apartment.lng}

-else
  %p This apartment is unlisted.

