-if @apartment.published? || (signed_in? && current_user.apartments.include?(@apartment))
  :javascript
    var self = #{@apartment.as_json(:methods => :to_param, :include => :address).to_json};
    var apartments = #{(Apartment.with_state(:published) - [@apartment]).as_json(:methods => :to_param, :include => :address).to_json};

  .article
    .head
      .name
        %h1=@apartment.address.street
        %h2==#{@apartment.address.city}, #{@apartment.address.state} #{@apartment.address.zip}

    .content
      -if @apartment.images.present?
        =image_tag @apartment.images.first.asset.url(:large)
      -else
        %img{:src => 'http://www.google.com'}

      .info
        .rooms
          ==#{@apartment.bedrooms.prettify}bd/#{@apartment.bathrooms.prettify}ba
        .rent
          ==$#{@apartment.rent.prettify}

        %ul
          %li==#{@apartment.square_footage.prettify} sq. ft.
          %li
            -if @apartment.address && @apartment.neighborhood
              ==Neighborhood: #{link_to @apartment.neighborhood.name, @apartment.neighborhood}
            -else
              Neighborhood: Unknown
          %li==Available starting #{@apartment.start_date}

      %ul
        -@apartment.features.each do |feature|
          %li=feature.name

      %dl
        -if @apartment.contact
          %dt Contact
          %dd
            =@apartment.contact.name
            =@apartment.contact.email
            =@apartment.contact.phone

      -if can? :manage, Message
        =render "messages/thread", :messages => @apartment.messages.for_user(current_user)

  .aside
    %ul.actions
      %li.flag=render "flags/link", :apartment => @apartment
      %li.favorite=render "favorites/link", :apartment => @apartment

    #map_canvas

    #nearby_stations
      %h3 Nearby Stations
      %table
        -@apartment.nearby_stations.each do |station|
          %tr
            %td=station.name
            %td==#{number_with_precision(station.distance, :precision => 2)}mi

    -if @apartment.address
      .business_search{:'data-lat' => @apartment.lat, :'data-lng' => @apartment.lng}

-else
  %p This apartment is unpublished.

