-content_for :page_title do
  -if @apartment.name.present?
    ==Cozily | #{@apartment.name}
  -else
    ==Cozily | Apartment ##{@apartment.id}

-if @apartment.published? || (signed_in? && @apartment.owned_by?(current_user))
  :javascript
    var self = #{@apartment.as_json(:methods => :to_param, :include => :address).to_json};
    var apartments = #{(Apartment.with_state(:published) - [@apartment]).as_json(:methods => :to_param, :include => :address).to_json};

  -if signed_in? && @apartment.owned_by?(current_user)
    =render "apartments/owner", :apartment => @apartment, :type => :show

  .article
    .head
      .name
        -if @apartment.address
          %h1=@apartment.address.street
          %h2==#{@apartment.address.city}, #{@apartment.address.state} #{@apartment.address.zip}
        -else
          %h1 Unknown Address

    .content
      - if @apartment.images.present?
        = image_tag @apartment.images.first.asset.url(:large), :class => "active"
      - else
        = image_tag "defaults/apartment/large.jpg", :class => "active"

      .info
        .demographic
          .rooms
            ==#{@apartment.bedrooms.try(:prettify)}bd/#{@apartment.bathrooms.try(:prettify)}ba
          .rent
            ==$#{number_with_delimiter(@apartment.rent)}

          %ul
            - unless @apartment.square_footage.blank?
              %li
                ==#{@apartment.square_footage} sq. ft.
            %li
              -if @apartment.address && @apartment.neighborhoods
                ==Neighborhood: #{neighborhood_links(@apartment.neighborhoods)}
              -else
                Neighborhood: Unknown
            %li=availability(@apartment)

        -if @apartment.features.present?
          .highlights
            %h4 Apartment Highlights
            %ul
              -@apartment.features.each do |feature|
                %li=feature.name

      .images
        %ul
          -@apartment.images.each do |image|
            %li=image_tag(image.asset.url(:thumb), :'data-large-image-path' => image.asset.url(:large))
          -if @apartment.images.empty?
            %li=image_tag("defaults/apartment/thumb.jpg")

      .contact
        %h3 Contact
        %span.name=@apartment.user.full_name
        %span.email=@apartment.user.email
        %span.phone=number_to_phone(@apartment.user.phone, :area_code => true)

        -if can? :manage, Message
          =render "messages/thread", :apartment => @apartment

  .aside
    %ul.actions
      %li.flag=render "flags/link", :apartment => @apartment
      %li.favorite=render "favorites/link", :apartment => @apartment

    #map_canvas
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    #nearby_stations
      %h3 Nearby Stations
      %table
        -if @nearby_stations.present?
          -@nearby_stations.each do |station|
            %tr
              %td
                .name= station.name
                - station.trains.each do |train|
                  = image_tag "mta/#{train.name}.gif"
              %td==#{number_with_precision(station.distance, :precision => 2)}mi
        -else
          %tr
            %td None
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    -if @apartment.address
      .business_search{:'data-lat' => @apartment.lat, :'data-lng' => @apartment.lng}

-else
  %p This apartment is unpublished.
