- content_for :page_title do
  -if @apartment.address_name.present?
    ==Cozily | #{@apartment.address.street}
  -else
    ==Cozily | Apartment ##{@apartment.id}

- if @apartment.published?
  - content_for :nestio do
    - if @apartment.address.present?
      %meta{:property => 'listing:title', :content => @apartment.address.street}

      %meta{:property => 'listing:street-address', :content => @apartment.address.street}
      %meta{:property => 'listing:neighborhood', :content => @apartment.address.neighborhoods.map(&:name).join(", ")}
      %meta{:property => 'listing:locality', :content => @apartment.address.city}
      %meta{:property => 'listing:region', :content => @apartment.address.state}
      %meta{:property => 'listing:postal-code', :content => @apartment.address.zip}

    %meta{:property => 'listing:rent', :content => @apartment.rent}
    %meta{:property => 'listing:bedrooms', :content => @apartment.bedrooms}
    %meta{:property => 'listing:bathrooms', :content => @apartment.bathrooms}
    %meta{:property => 'listing:size', :content => @apartment.square_footage}

    - @apartment.photos.each do |photo|
      %meta{:property => 'listing:image', :content => [request.protocol, request.host_with_port, photo.image.url(:large)].join}

    - if signed_in?
      %meta{:property => 'listing:contact', :content => @apartment.user.full_name}
      %meta{:property => 'listing:contact:telephone', :content => @apartment.user.phone}
      %meta{:property => 'listing:contact:email', :content => @apartment.user.email}

-if @apartment.published? || (signed_in? && @apartment.owned_by?(current_user))
  :javascript
    var self = #{@apartment.as_json(:methods => :to_param, :include => :address).to_json};
    var apartments = #{@apartment.comparable_apartments.as_json(:methods => :to_param, :include => :address).to_json};

  -if signed_in? && @apartment.owned_by?(current_user)
    =render "apartments/owner", :apartment => @apartment, :type => :show

  .article
    .head
      .name
        -if @apartment.address_name
          %h1=@apartment.address.street
          %h2==#{@apartment.address.city}, #{@apartment.address.state} #{@apartment.address.zip}
        -else
          %h1 Unknown Address

    .content
      - if @apartment.sublet?
        %h3.sublet sublet
      - if @apartment.photos.present?
        = image_tag @apartment.photos.first.image.url(:large), :class => "active"
      - else
        = image_tag "defaults/apartment/large.jpg", :class => "active"

      .info
        .demographic
          .rooms
            ==#{@apartment.bedrooms.try(:prettify)}bd/#{@apartment.bathrooms.try(:prettify)}ba
          .rent
            ==$#{number_with_delimiter(@apartment.rent)}

          %ul
            - unless @apartment.square_footage.blank?
              %li
                #{@apartment.square_footage} sq. ft.
            %li
              - if @apartment.address && @apartment.neighborhoods
                Neighborhood: #{neighborhood_links(@apartment.neighborhoods)}
              - else
                Neighborhood: Unknown
            %li= availability(@apartment)

        -if @apartment.features.present?
          .highlights
            %h4 Highlights
            %dl
              - ["apartment", "building", "pet"].each do |category|
                - category_features = @apartment.features.all(:conditions => {:category => category})
                - if category_features.present?
                  %dt= "#{category.titleize} Features:"
                  - category_features.each do |feature|
                    %dd= feature.name

      .photos
        %ul
          -@apartment.photos.each do |photo|
            %li=image_tag(photo.image.url(:thumb), :'data-large-image-path' => photo.image.url(:large))
          -if @apartment.photos.empty?
            %li=image_tag("defaults/apartment/thumb.jpg")

      .contact
        %h3 Contact
        - if signed_in?
          %span.name=@apartment.user.full_name
          %span.email=@apartment.user.email
          %span.phone=number_to_phone(@apartment.user.phone, :area_code => true)

          -if can? :manage, Message
            =render "messages/thread", :apartment => @apartment
        - else
          %span.notice
            To contact this owner,
            = link_to "sign in", sign_in_path
            or
            = link_to "create an account", sign_up_path
            now!

  .aside
    %div.actions{:style => "height: 90px; padding-top: 10px;"}
      %div.sharing
        %span{:style => "float: left; padding-right: 5px; border-right: 1px solid #ccc;"}
          = link_to "Add to Nestio", "http://nestio.com/add", :class => "nestio-add-btn nestio-thin"
        %span{:style => "float: left; padding-left: 5px; padding-right: 5px; border-right: 1px solid #ccc;"}
          <g:plusone size="medium" annotation="none"></g:plusone>
        %span{:style => "float: left; padding-left: 5px; padding-right: 5px; border-right: 1px solid #ccc;"}
          <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="cozidotly" data-hashtags="cozily">Tweet</a>
          <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        %span{:style => "float: left; padding-left: 5px; padding-right: 5px"}
          <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
          /.fb-like{"data-send" => "false", "data-layout" => "button_count", "data-width" => "100", "data-show-faces" => "false", "data-font" => "arial"}
      %ul.actions
        %li.flag=render "flags/link", :apartment => @apartment
        %li.favorite=render "favorites/link", :apartment => @apartment

    #map_canvas
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    #nearby_stations
      %h3 Nearby Stations
      %table
        -if @nearby_stations.present?
          -@nearby_stations.each do |station|
            %tr
              %td
                .name= station.name
                - station.trains.each do |train|
                  = image_tag "mta/#{train.name}.gif"
              %td==#{number_with_precision(station.distance, :precision => 2)}mi
        -else
          %tr
            %td None
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    -if @apartment.address
      .business_search{:'data-lat' => @apartment.lat, :'data-lng' => @apartment.lng}

-else
  %p.unpublished
    -if @apartment.address.present?
      ==Oops, this apartment is unpublished.  Why not check out other places in #{neighborhood_links(@apartment.neighborhoods)}?
    -else
      ==Oops, this apartment is unpublished.  Why not check out this #{link_to("random apartment", Apartment.with_state(:published).first(:order => "RANDOM()"))}?
