%html
  %head
    <meta name="google-site-verification" content="ngNx19GIfLCZM5M7JswVdccMH_hpwAOOdIj5sU-ieMQ" />
    %meta{:name => 'csrf-token', :content => form_authenticity_token}
    %meta{:name => 'csrf-param', :content => 'authenticity_token'}
    %meta{name: 'alexaVerifyID', content: 'A7qvDRR7U1YVqNHsGmXuHAQq6MU'}

    = include_stylesheets :common, :media => 'all'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    - if Rails.env.production?
      :javascript
        var _sf_startpt=(new Date()).getTime()
    - unless Rails.env.test?
      = javascript_include_tag "http://use.typekit.com/cco3tph.js"
    = include_javascripts :common

    :javascript
      try{Typekit.load();}catch(e){}

    %title
      =yield(:page_title) || "Cozily"

  %body{:class => body_classes}
    #head
      .container
        =link_to image_tag("logos/logo.png"), root_url

        %ul.nav
          -if signed_out?
            %li=link_to "browse", browse_path
          -if current_user.try(:lister?)
            %li=link_to "my listings (#{current_user.apartments.count})", dashboard_listings_path
          -if current_user.try(:finder?)
            %li=link_to "matches (#{current_user.matches.count})", dashboard_matches_path
            %li=link_to "favorites (#{current_user.favorites.count})", dashboard_favorites_path
          -if signed_in?
            %li=link_to "Inbox (#{current_user.unread_message_count})", dashboard_messages_path

        =render "sessions/nav_actions"

    -if show_search?
      #search
        .container
          %h2 Find Apartments

          = form_for @search, :as => :q, :url => search_path, :html => {:method => :get, :class => 'search'} do |f|
            =text_field_tag :neighborhood_autocomplete, neighborhood_search_text, :'data-default-value' => "All Neighborhoods"
            =f.text_field :min_bedrooms, :'data-default-value' => "All # Bedrooms"
            =f.text_field :max_rent, :'data-default-value' => "All Prices"
            =f.hidden_field :neighborhood_ids

            =f.submit :search

      #breadcrumbs
        -if signed_out? || current_user.finder?
          = render "users/profiles/summary"

    #body
      .container
        #flash
          %span=flash[:success] || flash[:notice] || flash[:failure]
        #loading
          %span Loading...
        %div{:'data-content-key' => 'yield'}
          =yield

    #foot
      .container
        %ul
          %li=link_to "About", about_page_path
          %li=link_to "FAQ", faq_page_path
          %li=link_to "Privacy Policy", privacy_policy_page_path
          %li=link_to "Terms of Service", terms_of_service_page_path
          %li.twitter=link_to image_tag("icons/twitter.png"), "http://twitter.com/cozidotly", :target => "_blank"
          %li.facebook=link_to image_tag("icons/facebook.png"), "http://facebook.com/cozily", :target => "_blank"
          %li.copyright==&copy; #{Time.now.year} Cozily All Rights Reserved

    :javascript
      window._token = '#{form_authenticity_token}';
      var ip_lat = '#{ip_lat}';
      var ip_lng = '#{ip_lng}';
      var neighborhoods = #{Neighborhood.to_autocomplete.to_json};

    - if signed_in?
      :javascript
        var lady_messages = #{lady_messages.to_json};

    - if Rails.env.production?
      :javascript
        var _sf_async_config={uid:30673,domain:"cozi.ly"};
        (function(){
          function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
            document.body.appendChild(e);
          }
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
             loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();

      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6802573-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    :javascript
      var _usrp = {
        type: "button",
        company: "cozily",
        host: "cozily.userrules.com",
        mode: "advanced",
        sso: {},
        getVisitorId: function() {return "";},
        getAdditionalParams: function() {return "";},
        placement: "left",
        color: ["#b08e4b", "#e5c380"]
      };

      (function(D) {
        var _usr = D.createElement("script"), s = D.getElementsByTagName("script")[0];
        _usr.type = "text/javascript"; _usr.async = true;
        _usr.src = ("https:" == D.location.protocol ? "https" : "http" ) + "://dtkm4pd19nw6z.cloudfront.net/js/userrules/9a41a826e957127b4e5bfc7d140e45c4/feedback.canary.js";
        s.parentNode.insertBefore(_usr, s);
      })(document);
