%html
  %head
    <meta name="google-site-verification" content="ngNx19GIfLCZM5M7JswVdccMH_hpwAOOdIj5sU-ieMQ" />
    %meta{:name => 'csrf-token', :content => form_authenticity_token}
    %meta{:name => 'csrf-param', :content => 'authenticity_token'}

    = include_stylesheets :common, :media => 'all'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    - unless Rails.env.test?
      = javascript_include_tag "http://use.typekit.com/cco3tph.js"
    = include_javascripts :common

    :javascript
      try{Typekit.load();}catch(e){}

    %title
      =yield(:page_title) || "Cozily"

  %body.error
    #head
      .container
        =link_to image_tag("logos/logo.png"), root_url

        %ul.nav
          -if signed_out?
            %li=link_to "browse", browse_path
          -if current_user.try(:lister?)
            %li=link_to "my listings (#{current_user.apartments.count})", dashboard_listings_path
          -if current_user.try(:finder?)
            %li=link_to "matches (#{current_user.matches.total})", dashboard_matches_path
            %li=link_to "favorites (#{current_user.favorites.count})", dashboard_favorites_path
          -if signed_in?
            %li=link_to "Inbox (#{current_user.unread_message_count})", dashboard_messages_path

        =render "sessions/nav_actions"

    #body
      .container
        #flash
          %span=flash[:success] || flash[:notice] || flash[:failure]
        #loading
          %span Loading...
        %div{:'data-content-key' => 'yield'}
          =yield

    #foot
      .container
        %ul
          %li=link_to "About", about_page_path
          %li=link_to "FAQ", faq_page_path
          %li=link_to "Privacy Policy", privacy_policy_page_path
          %li=link_to "Terms of Service", terms_of_service_page_path
          %li.twitter=link_to image_tag("icons/twitter.png"), "http://twitter.com/cozidotly", :target => "_blank"
          %li.facebook=link_to image_tag("icons/facebook.png"), "http://facebook.com/cozily", :target => "_blank"
          %li.copyright==&copy; #{Time.now.year} Cozily All Rights Reserved

    :javascript
      window._token = '#{form_authenticity_token}';
      var ip_lat = '#{ip_lat}';
      var ip_lng = '#{ip_lng}';
      var neighborhoods = #{Neighborhood.to_autocomplete.to_json};

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6802573-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
