- content_for :page_title do
  Cozily | Sign up

%h2 Sign up

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  = f.input :first_name
  = f.input :last_name
  = f.input :email, :as => :string
  = f.input :password
  = f.input :password_confirmation, :label => "Confirm password"

  = f.submit "Sign up"
