- content_for :page_title do
  Cozily | Sign up

%h2 Sign up

= semantic_form_for resource, :url => user_registration_path do |f|
  = f.error_messages
  = f.inputs do
    = f.input :first_name
    = f.input :last_name
    = f.input :email, :as => :string
    = f.input :password
    = f.input :password_confirmation, :label => "Confirm password"

    %label I am here to:
    = hidden_field_tag :assign_roles, true
    %li.boolean.optional
      %label{ :for => "role_ids_0" }
        = check_box_tag "role_ids[]", Role.find_by_name("finder").id, f.object.finder?, :id => "role_ids_0", :style => "margin-left: 33px;"
        find apartments

    %li.boolean.optional
      %label{ :for => "role_ids_1" }
        =check_box_tag "role_ids[]", Role.find_by_name("lister").id, f.object.lister?, :id => "role_ids_1", :style => "margin-left: 33px;"
        list apartments

    %fieldset.lister
      %legend We want to include a phone number with your listings.
      = f.inputs do
        = f.input :phone, :as => :string
        = f.input :receive_listing_summaries, :label => "Receive weekly summary emails about your listings", :required => false

  %label{:style => "position:absolute; margin-top:10px;"} Type following text:
  .recaptcha
    = recaptcha_tags

  = f.buttons do
    = f.commit_button "Sign up"

